<Project>
  <PropertyGroup>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>none</DebugType>
    <InvariantGlobalization>true</InvariantGlobalization>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishReadyToRunUseCrossgen2>true</PublishReadyToRunUseCrossgen2>
    <PublishSingleFile>true</PublishSingleFile>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>
